ExamineConstructorConsole/.vs/
ExamineConstructorConsole/x64/Debug/
Diagrams/~$сов_ПЗ.docx
ExamineConstructorConsole/.vs/ExamineConstructor/FileContentIndex/ccce8e90-0212-4edb-b5cb-2b0d96f0bc2a.vsidx
ExamineConstructorConsole/.vs/ExamineConstructor/v17/.suo
ExamineConstructorConsole/.vs/ExamineConstructor/v17/Browse.VC.db
ExamineConstructorConsole/.vs/ExamineConstructor/v17/ipch/AutoPCH/73144872a631fe39/EXAMINECONSTRUCTOR.ipch
ExamineConstructorConsole/x64/Debug/ExamineConstructor.exe
ExamineConstructorConsole/x64/Debug/ExamineConstructor.ilk
ExamineConstructorConsole/x64/Debug/ExamineConstructor.log
ExamineConstructorConsole/x64/Debug/ExamineConstructor.obj
ExamineConstructorConsole/x64/Debug/ExamineConstructor.pdb
ExamineConstructorConsole/x64/Debug/vc143.idb
ExamineConstructorConsole/x64/Debug/vc143.pdb
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.command.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/Cl.items.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.read.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.write.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/link.command.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/link.read.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/link.write.1.tlog
ExamineConstructorConsole/.vs/ExamineConstructor/v17/.suo
ExamineConstructorConsole/.vs/ExamineConstructor/v17/Browse.VC.db
ExamineConstructorConsole/.vs/ExamineConstructor/v17/ipch/AutoPCH/73144872a631fe39/EXAMINECONSTRUCTOR.ipch
Diagrams/~WRL0060.tmp
ExamineConstructorConsole/.vs/ExamineConstructor/v17/.suo
ExamineConstructorConsole/.vs/
ExamineConstructorConsole/x64/
ExamineConstructorConsole/x64/Debug/ExamineConstructor.ilk
ExamineConstructorConsole/x64/Debug/ExamineConstructor.log
ExamineConstructorConsole/x64/Debug/ExamineConstructor.obj
ExamineConstructorConsole/x64/Debug/ExamineConstructor.pdb
ExamineConstructorConsole/x64/Debug/vc143.idb
ExamineConstructorConsole/x64/Debug/vc143.pdb
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.command.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.read.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.write.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/link.read.1.tlog
ExamineConstructorConsole/
ExamineConstructorConsole/.vs/ExamineConstructor/v17/Browse.VC.db
ExamineConstructorConsole/.vs/ExamineConstructor/v17/.suo
ExamineConstructorConsole/.vs/ExamineConstructor/v17/Browse.VC.db
ExamineConstructorConsole/x64/Debug/ExamineConstructor.exe
ExamineConstructorConsole/x64/Debug/ExamineConstructor.ilk
ExamineConstructorConsole/x64/Debug/ExamineConstructor.log
ExamineConstructorConsole/x64/Debug/ExamineConstructor.pdb
ExamineConstructorConsole/x64/Debug/vc143.idb
ExamineConstructorConsole/x64/Debug/vc143.pdb
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.command.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.read.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.write.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/link.read.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineConstructor.exe
ExamineConstructorConsole/x64/Debug/ExamineConstructor.ilk
ExamineConstructorConsole/x64/Debug/ExamineConstructor.log
ExamineConstructorConsole/x64/Debug/ExamineConstructor.obj
ExamineConstructorConsole/x64/Debug/ExamineConstructor.pdb
ExamineConstructorConsole/x64/Debug/vc143.idb
ExamineConstructorConsole/x64/Debug/vc143.pdb
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.command.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.read.1.tlog
ExamineConstructorConsole/x64/Debug/ExamineC.c59c03c4.tlog/CL.write.1.tlog
ExamineConstructorConsole/.vs/ExamineConstructor/v17/.suo
ExamineConstructorConsole/.vs/ExamineConstructor/v17/Browse.VC.db
