.submit-page{
    position: fixed;
    height: 100dvh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .submit-form{
        padding: 32px;
        background-color: var(--white);
        width: 50%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        .form-group{
            margin-top: 16px;
            display: flex;
            justify-content: center;
            input{
                width: 60%;
            }
        }
        .form-controlls {
            display: flex;
            justify-content: center;
            margin-top: 32px;
            button{
                width: 150px;
                height: 40px;
                border-radius: 40px;
                background-color: var(--lightblue);
                border: 1px solid var(--lightblue);
                color:white;
                transition: .3s;
                margin: 0 24px;
                &:hover{
                    background-color: white;
                    color:var(--lightblue)
                }
                &:focus{
                    border-color: var(--darkgray);
                }
            }
            .cancel-button{
                background-color: var(--red);
                border: 1px solid var(--red);
                &:hover{
                    background-color: white;
                    color:var(--red)
                }
            }
        }
    }
}