.create-page{
    padding: 20px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.create-page-wrapper {
    width: 30%;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h1 {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
        color: #333;
    }

    .create-test {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
            font-size: 14px;
            color: #555;
        }

        input,textarea {
            resize: none;
            margin-bottom: 15px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;

            &:focus {
                border-color: #007bff;
            }
        }
        textarea{
            height: 100px;
        }
    }

    .create-controll {
        display: flex;
        justify-content: space-evenly;

        button {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            border:1px solid transparent;
            &:first-child {
                background-color: #f44336;
                color: #fff;
            }

            &:last-child {
                background-color: #4caf50;
                color: #fff;
            }

            &:hover {
                opacity: 0.9;
            }
            &:focus {
                outline: none;
                border: 1px solid #333;
            }
        }
    }
    
    .button-wrapper{
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;
        
    }
    
    .add-question-button {
        background-color: var(--lightblue);
        color: white;
        border-radius: 50px;
        padding: 16px 16px;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        transition: 0.3s;
        border: 1px solid transparent;
        &:focus {
            outline: none;
            border: 1px solid var(--darkgray);
        }
        &:hover {
            background-color: white;
            color: var(--lightblue);
            border: 1px solid var(--lightblue);
        }
    }
}

.create-question{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h2 {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
        color: #333;
    }

    .create-question-wrapper {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
            font-size: 14px;
            color: #555;
        }

        input,textarea {
            resize: none;
            margin-bottom: 15px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;

            &:focus {
                border-color: #007bff;
            }
        }
        textarea{
            height: 100px;
        }
    }
    
    .button-wrapper{
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;
        
        
        .add-question-button{
            background-color: var(--lightblue);
            color: white;
            border-radius: 50px;
            padding: 16px 16px;
            cursor: pointer;
            font-size: 12px;
            font-weight: bold;
            transition: 0.3s;
            border: 1px solid transparent;
            &:focus {
                outline: none;
                border: 1px solid var(--darkgray);
            }
            &:hover {
                background-color: white;
                color: var(--lightblue);
                border: 1px solid var(--lightblue);
            }
        }
        .error{
            background-color: var(--red);
            &:hover {
                color: var(--red);
                border: 1px solid var(--red);
            }
            &:focus {
                outline: none;
                border: 1px solid var(--darkgray);
            }
        }
    }
}

.questions-list{
    width: 30%;
    height: auto;
    padding: 24px;
    display: flex;
    flex-flow:column nowrap;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .question{
        margin: 32px;
        border: 1px solid var(--lightblue);
        width: 80%;
        padding: 16px;
        border-radius: 4px;
    }
}